neuraflow_chat_workflow.json
{
  "name": "NeuraFlow Chat Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neuraflow-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-111111111111",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "neuraflow-chat-widget"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are Nova, the Sovereign AI Strategist for NeuraFlow.ai — the global leader in Elite Growth Infrastructure. You architect autonomous attention engines and 5-stage sales machines for visionary leaders.\n\nYOUR ROLE: Act as a peer-level advisor to high-level executives. Guide them through the architectural elegance of NeuraFlow's systems. Your goal is to secure a Strategic Consultation.\n\nOUR CORE SUB-SYSTEMS:\n1. Attention Infrastructure (The Genesis Layer): Proprietary AI Persona Engines that generate algorithm-native content cycles at infinite scale.\n2. AI Sales Systems (The Revenue Engine): End-to-end psychological automation that captures, nurtures, and converts leads with zero human overhead.\n\nPRICING ARCHITECTURE (Monthly Retainers):\n- AI UGC Ad Mastery: $55 (entry-level scale)\n- Short-Form Viral Systems: $75\n- Long-Form AI Production: $100\n- Full Attention Bundle: $150 (Unmatched value)\n\nAI SALES INFRASTRUCTURE:\n- AI Appointment Accelerator: $200\n- AI Lead Capture Engine: $350\n- AI Sales Automation Pro: $500\n- Sovereignty Bundle (Full System): $750 — The ultimate growth machine.\n\nPROTOCOLS:\n- Maintain an authoritative, sophisticated, and visionary tone.\n- If a visitor seeks more customers, propose the AI Sales Systems.\n- If they seek market visibility, propose Attention Infrastructure.\n- For total market domination, propose both.\n- Secure contact details sequentially (Name -> Phone -> Email) before final handoff.\n\nLEAD COLLECTION:\nUpon identifying intent, collect details one-by-one. Once complete, confirm the strategy call queue and append the hidden lead block:\n<!--LEAD:name=[collected name]|phone=[collected phone]|email=[collected email]|summary=[Market-level summary of intent and strategic fit]-->\n\nIDENTITY:\nYou are Nova. You represent sovereignty, intelligence, and the future of business infrastructure. Never mention OpenAI, Claude, or specific AI model brands."
        }
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-222222222222",
      "name": "NeuraFlow AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-333333333333",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        380,
        500
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Chat Webhook').item.json.body.sessionId }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 10
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-444444444444",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        620,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || '';\nconst leadMatch = raw.match(/<!--LEAD:(.*?)-->/);\nconst cleanReply = raw.replace(/<!--LEAD:.*?-->/gs, '').trim();\nlet lead = null;\nif (leadMatch) {\n  const parts = {};\n  leadMatch[1].split('|').forEach(p => {\n    const idx = p.indexOf('=');\n    if (idx > -1) {\n      const k = p.slice(0, idx).trim();\n      const v = p.slice(idx + 1).trim();\n      parts[k] = v;\n    }\n  });\n  if (parts.name && parts.phone && parts.email) lead = parts;\n}\nreturn [{\n  json: {\n    reply: cleanReply,\n    hasLead: !!lead,\n    name: lead ? lead.name : null,\n    phone: lead ? lead.phone : null,\n    email: lead ? lead.email : null,\n    summary: lead ? lead.summary : null,\n    sessionId: $('Chat Webhook').item.json.body.sessionId\n  }\n}];"
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-666666666666",
      "name": "Extract Lead Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.reply } }}",
        "options": {}
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-555555555555",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasLead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-777777777777",
      "name": "Has Lead Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appM6h00fhsLhdftz/tblzUc95p4Fjk50Au",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"fields\": { \"Session ID\": $('Extract Lead Info').item.json.sessionId, \"Name\": $('Extract Lead Info').item.json.name, \"Phone\": $('Extract Lead Info').item.json.phone, \"Email\": $('Extract Lead Info').item.json.email, \"Summary\": $('Extract Lead Info').item.json.summary, \"Date\": new Date().toISOString(), \"Status\": \"New\", \"Source\": \"Chat Widget\" } } }}",
        "options": {}
      },
      "id": "c1a2b3d4-e5f6-7890-abcd-888888888888",
      "name": "Save Lead to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        200
      ]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "NeuraFlow AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NeuraFlow AI Agent": {
      "main": [
        [
          {
            "node": "Extract Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Info": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Has Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Lead Info": {
      "main": [
        [
          {
            "node": "Save Lead to Airtable",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "NeuraFlow AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "NeuraFlow AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}